@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 15px !important;
    color: white;
    font-weight: 900;
}
